* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-family: 'Karla', sans-serif;
}

.cart-holder{
  width: 100%;
  
}
.cart-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.item-holder {
  padding: 16px;
  width: 50%;
  height: max-content;
}
.item-holder .top-buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}
.item-holder .top-buttons h1{
  padding-left: 6px;
  padding-right: 6px;
  line-height: 36px;
  font-size: 16px;
  font-weight: 600;
  font-family: "Karla", sans-serif;
  background-color: rgb(0, 0, 0);
  color: white;
  border-radius: 4px;
}

.item-card {
  height: max-content;
  width: 100%;
  padding-top: 20px;
  display: flex;
  flex-direction: row;
}
.item-card img {
  height: 120px;
  width: 120px;
  object-fit: contain;
}
.item-card .item-title{
  padding-left: 16px;
}
.item-card .item-title h2{
  font-weight: 400;
  font-family: 'Karla',sans-serif;
  font-size: 16px;
}
.item-card .item-title h3{
  display: inline-block;
  text-align: center;
  padding: 2px 10px;
  border-radius: 6px;
  background-color: #0000001e;
  margin-top: 2%;
  margin-bottom: 2%;
  color: #000000;
  font-family: "Karla", sans-serif;
  font-weight: 800;
}

/* quantity change buttons */

.value-button {
  display: inline-block;
  border: 1px solid #ddd;
  width: 40px;
  height: 40px;
  text-align: center;
  vertical-align: middle;
  padding: 10px 0;
  background: rgb(0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: white;
  margin-top: -1px;
}
input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
  
        input[type=number] {
            -moz-appearance: textfield;
        }
.value-button:hover {
  cursor: pointer;
}
#decrease {
  margin-right: -4px;
  border-radius: 8px 0 0 8px;
}
#increase {
  margin-left: -4px;
  border-radius: 0 8px 8px 0;
}
#input-wrap {
  margin: 0px;
  padding: 0px;
}
input#number {
  text-align: center;
  border: none;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin: 0px;
  width: 40px;
  height: 40px;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.checkout-info {
  width: 50%;
  padding: 1%;
}
.form-head h1 {
  margin-top: 15px;
  font-family: "Karla", sans-serif;
  font-size: 18px;
}
.form-info {
  width: 100%;
  font-size: 14px;
  margin-top: 20px;
}
.form-info label {
  display: block;
}
.form-info .form50 {
  width: 49%;
  padding: 10px 15px;
  float: left;
  margin-top: 6px;
}
.form-info .form50:nth-child(even) {
  margin-left: 1%;
}
.form-info input,  .form-info textarea{
  padding: 5px;
  border: none;
}
.form-info textarea:focus,.form-info input:focus{
  outline: none;
}
.form-info .form100 {
  width: 99%;
  padding: 10px 15px;
  margin-top: 6px;
  float: left;
  
  margin-bottom: 30px;
}

.checkout-sum {
  width: 100%;
  font-size: 18px;
}
.sum-head h1 {
  margin-top: 10px;
  font-family: "Karla", sans-serif;
  font-size: 18px;
}
.price-table{
  margin-top: 10px;
  width: 100%;
}
.price-table table{
  border-collapse: collapse;
  width: 98%;
}
.price-table table tr{
  height: 40px;
}
.price-table table tr td:last-child{
  text-align: end;
  width: fit-content;
}
/* .price-table table tr:last-child td:last-child{
  border-top: 1px solid black;
  border-bottom: 1px solid black;
} */
.price-table table tr td:first-child{
  color: rgb(22, 22, 22);
  font-weight: 600;
  font-size: 16px;
  text-align: start;
}
.price-table table tr td {
  padding: 2px;
}

.payment-method {
  width: 100%;
  font-size: 18px;
}
.payment-method .method-head h1 {
  margin: 20px auto 15px auto;
  font-family: "Karla", sans-serif;
  font-size: 25px;
}
.select-method {
  width: 99%;
  font-family: "Montserrat", sans-serif;
  padding: 15px;
}
.select-method h1{
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 20px;
}

.order-btn button{
  width: 99%;
  height: 50px;
  margin-top: 15px;
  font-family: "Karla", sans-serif;
  font-size: 26px;
  background-color: black;
  color: white;
  padding: auto;
  border-radius: 5px;
  font-weight: 600;
}

@media (max-width: 930px) {
  .cart-flex {
    flex-direction: column;
  }
  .item-holder {
    width: 98%;
    margin-left: 1%;
  }
  .checkout-info {
    width: 98%;
    padding: 0;
    margin: auto;
  }
}
@media (max-width: 550px) {
  .order-btn button{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0%;
    border-radius: 0;
    border: none;
  }
  .payment-method {
    margin-bottom: 60px;
  }
}