footer{
    padding: 16px;
    width: 100%;
    background: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
footer .footer-content{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
footer .footer-content .sections{
    color: white;
    text-align: center;
}
footer .footer-content .sections label{
    font-weight: 600;
}
footer .sections ul li{
    padding: 4px;
    list-style-type: none;
    font-size: 14px;
    line-height: 26px;
}
footer h4{
    color: white;
}
footer .social-handles{
    margin:1%;
}
footer .social-handles img{
    cursor: pointer;
    padding: 2px;
}

/* If the browser window is 600px or smaller */
@media only screen and (max-width: 600px) {
    footer .footer-content{
        flex-direction: column;
        justify-content: center;
    }
    footer .footer-content .sections{
        text-align: center;
        margin-bottom: 16px;
    }
    footer .sections ul li{
        padding-top: 12px;
    }
  }