header{
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
header .logo img{
    height: 60px;
    width: 150px;
    object-fit: cover;
    pointer-events: none;
}
header .quick-links ul a{
    text-decoration: none;
}
header .quick-links ul li{
    width: 120px;
    text-align: center;
    list-style-type: none;
    font-family: 'Karla', sans-serif;
    line-height: 30px;
    font-weight: 500;
    background: #000;
    border-radius: 4px;
    color: white;
}
