:root {
  --blue: #2273f8;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  transition: all 0.2s linear;
  font-family: "Montserrat", sans-serif;
}
*::selection {
  background: var(--blue);
  color: #fff;
}
html,
body {
  font-size: 62.5%;
  height: 100%;
  scroll-behavior: smooth;
}
.loading-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#loader {
  border: 2px solid #ffffff;
  border-radius: 50%;
  border-top: 2px solid #0099ff;
  width: 40px;
  height: 40px;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.home {
  min-height: calc(100% - 50px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background: url(../images/homg-img.png) no-repeat;
  background-size: 140% 85%;
  background-position: top;
  padding: 1.5rem 7%;
  padding-top: 4rem;
}

.home .image {
  flex:1 1 40rem;
  padding-top: 6rem;
}

.home .image img {
  width: 100%;
}

.home .content {
  flex:1 1 40rem;
  padding-top: 5rem;
}

.home .content h1 {
  font-size: 4rem;
  color: #fff;
}

.home .content ul {
  font-size: 1.8rem;
  color: #eee;
  padding: 0.5rem 0;
}
.home .content ul li {
  list-style-type: none;
  line-height: 4rem;
}
.btn {
  font-size: 2rem;
  font-weight: 500;
  padding: 0.7rem 3.5rem;
  border-radius: 5rem;
  color: #fff;
  background: var(--blue);
  margin-top: 1rem;
  box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.3);
  cursor: pointer;
  border: none;
  overflow: hidden;
  position: relative;
  z-index: 0;
}

.btn::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 0%;
  background: #333;
  z-index: -1;
  transition: 0.2s linear;
}

.btn:hover::before {
  left: 0;
  width: 100%;
}

.home .content .btn {
  background: #fff;
  color: #333;
}

.home .content .btn:hover {
  color: #fff;
}

.wrapper {
  height: 100%;
  width: 100%;
}
/* Category Wise */
.wrapper .category-wise {
  margin: 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.wrapper .category-wise ul {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  overflow-x: auto;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.wrapper .category-wise ul::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.wrapper .category-wise ul {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.wrapper .category-wise ul li {
  margin-right: 12px;
  list-style-type: none;
  white-space: nowrap;
  width: max-content;
  line-height: 34px;
  padding: 0 16px;
  border-radius: 16px;
  font-size: 14px;
  font-weight: 600;
  background: #000;
  color: white;
  user-select: none;
}
.wrapper .category-wise ul li:hover {
  background: rgba(0, 84, 211, 0.288);
  color: rgb(0, 84, 211);
}
.wrapper .category-wise > div {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}
.wrapper .category-wise > div .slide_left {
  cursor: pointer;
  position: absolute;
  left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 1.4rem;
  background: rgba(0, 0, 0, 0.877);
  color: rgb(255, 255, 255);
}
.wrapper .category-wise > div .slide_right {
  cursor: pointer;
  position: absolute;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.877);
  color: rgb(255, 255, 255);
}
.wrapper .category-wise > div .slide_left:hover,
.wrapper .category-wise > div .slide_right:hover {
  background-color: black;
}
.wrapper .category-wise .product-holder {
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  scroll-behavior: smooth;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.wrapper .category-wise .product-holder::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.wrapper .category-wise .product-holder {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.wrapper .category-wise .product-holder .item {
  margin: 8px;
  width: 250px;
  height: max-content;
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.wrapper .category-wise .product-holder .item img {
  width: 100%;
  height: 200px;
  object-fit: contain;
}
.wrapper .category-wise .product-holder .item label[for="pName"] {
  font-size: 12px;
  font-weight: 600;
  color: #000;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  -webkit-box-orient: vertical;
}
.wrapper .category-wise .product-holder .item label[for="category"] {
  margin: 6px 0;
  font-size: 12px;
  font-family: "Karla", sans-serif;
}
.wrapper .category-wise .product-holder .item label[for="pPrice"] {
  margin-bottom: 6px;
  line-height: 26px;
  padding: 0 10px;
  font-size: 14px;
  text-align: center;
  font-weight: 600;
  background: rgba(0, 84, 211, 0.288);
  color: rgb(0, 84, 211);
  border-radius: 6px;
  /* font-family: "karla", sans-serif; */
}
.wrapper .featured {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrapper .featured .sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  height: max-content;
  width: 100%;
  background: rgb(255, 255, 255);
  text-align: center;
}
.wrapper .featured .sticky h3 {
  font-size: 2rem;
  margin: 8px;
  display: inline-block;
  background: rgb(0, 0, 0);
  color: white;
  line-height: 44px;
  padding: 0 16px;
  border-radius: 6px;
}

.featured .featured-holder {
  width: 100%;
}
.featured .featured-holder .flex-box {
  height: max-content;
  margin: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.featured .featured-holder .flex-box:nth-child(even) {
  flex-direction: row-reverse;
}

.featured .featured-holder .flex-box .flex50 {
  width: 50%;
  display: flex;
  align-items: center;
}
.featured .featured-holder .flex-box .flex50 .p_image {
  width: 100%;
  height: max-content;
}
.featured .featured-holder .flex-box .flex50 .p_image img {
  width: 100%;
  height: 600px;
  object-fit: contain;
}
.featured .featured-holder .flex-box .flex50 .product-info {
  display: flex;
  flex-direction: column;
  margin: 0 16px 0 26px;
}
.featured .featured-holder .flex-box .flex50 .product-info label[for="p_Name"] {
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  text-transform: capitalize;
  font-family: "Karla", sans-serif;
}
.featured .featured-holder .flex-box .flex50 .product-info .section {
  display: flex;
  align-items: center;
  width: max-content;
}
.featured
  .featured-holder
  .flex-box
  .flex50
  .product-info
  .section
  label[for="p_Price"] {
  text-align: center;
  width: 120px;
  background: rgba(0, 84, 211, 0.288);
  color: rgb(0, 84, 211);
  border-radius: 26px;
  line-height: 36px;
  margin: 16px 0 16px 0;
  font-size: 16px;
  font-weight: 600;
}
.featured
  .featured-holder
  .flex-box
  .flex50
  .product-info
  .section
  label[for="discount"] {
  margin-left: 12px;
  font-size: 16px;
  font-weight: 600;
}
.featured
  .featured-holder
  .flex-box
  .flex50
  .product-info
  label[for="featured-tag"] {
  background: rgba(0, 0, 0, 0.116);
  text-align: center;
  width: 80px;
  color: rgb(0, 0, 0);
  line-height: 36px;
  margin: 0 0 16px 0;
  font-size: 14px;
  font-weight: 600;
}
.featured
  .featured-holder
  .flex-box
  .flex50
  .product-info
  label[for="description"] {
  color: rgb(48, 48, 48);
  margin: 0 0 16px 0;
  line-height: 24px;
  font-size: 14px;
}
.featured .featured-holder .flex-box .flex50 .product-info button {
  border: none;
  outline: none;
  line-height: 36px;
  width: 120px;
  border-radius: 26px;
  background: rgb(0, 0, 0);
  color: white;
  font-size: 16px;
  margin-bottom: 16px;
  font-family: "karla", sans-serif;
}
@media only screen and (max-width: 800px) {
  .featured .featured-holder .flex-box {
    margin: 8px;
  }
  .featured .featured-holder .flex-box:nth-child(n) {
    flex-direction: column;
  }
  .featured .featured-holder .flex-box .flex50 {
    width: 100%;
  }
  .featured .featured-holder .flex-box .flex50 .p_image img {
    width: 100%;
    height: auto;
  }
  .featured
    .featured-holder
    .flex-box
    .flex50
    .product-info
    label[for="p_Name"] {
    font-size: 16px;
    line-height: 20px;
  }
  .featured
    .featured-holder
    .flex-box
    .flex50
    .product-info
    label[for="description"] {
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 16px; /* fallback */
    max-height: 48px; /* fallback */
    -webkit-line-clamp: 3; /* number of lines to show */
    -webkit-box-orient: vertical;
  }
}
/* media queries  */

@media (max-width:768px){

  html{
      font-size: 55%;
  }
}
@media (max-width:500px){

  html{
      font-size: 50%;
  }
}