* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
html,
body {
  height: 100%;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
.wrapper {
  height: 100%;
  width: 100%;
}
.wrapper .new-arrivals {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-arrivals .new-arrivals-holder {
  width: 100%;
}
.new-arrivals .new-arrivals-holder .flex-box {
  height: max-content;
  margin: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.new-arrivals .new-arrivals-holder .flex-box:nth-child(even) {
  flex-direction: row-reverse;
}

.new-arrivals .new-arrivals-holder .flex-box .flex50 {
  width: 50%;
  display: flex;
  align-items: center;
}
.new-arrivals .new-arrivals-holder .flex-box .flex50 .p_image {
  width: 100%;
  height: max-content;
}
.new-arrivals .new-arrivals-holder .flex-box .flex50 .p_image img {
  width: 100%;
  height: 600px;
  object-fit: contain;
}
.new-arrivals .new-arrivals-holder .flex-box .flex50 .product-info {
  display: flex;
  flex-direction: column;
  margin: 0 16px 0 26px;
}
.new-arrivals
  .new-arrivals-holder
  .flex-box
  .flex50
  .product-info
  label[for="p_Name"] {
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  text-transform: capitalize;
  font-family: "Karla", sans-serif;
}
.new-arrivals .new-arrivals-holder .flex-box .flex50 .product-info .section {
  display: flex;
  align-items: center;
  width: max-content;
}
.new-arrivals
  .new-arrivals-holder
  .flex-box
  .flex50
  .product-info
  .section
  label[for="p_Price"] {
  text-align: center;
  width: 120px;
  background: rgba(0, 84, 211, 0.288);
  color: rgb(0, 84, 211);
  border-radius: 26px;
  line-height: 36px;
  margin: 16px 0 16px 0;
  font-weight: 600;
}
.new-arrivals
  .new-arrivals-holder
  .flex-box
  .flex50
  .product-info
  .section
  label[for="discount"] {
  margin-left: 12px;
  font-weight: 600;
}
.new-arrivals
  .new-arrivals-holder
  .flex-box
  .flex50
  .product-info
  label[for="new-arrivals-tag"] {
  background: rgba(0, 0, 0, 0.116);
  text-align: center;
  width: 80px;
  color: rgb(0, 0, 0);
  line-height: 36px;
  margin: 0 0 16px 0;
  font-weight: 600;
}
.new-arrivals
  .new-arrivals-holder
  .flex-box
  .flex50
  .product-info
  label[for="description"] {
  color: rgb(48, 48, 48);
  margin: 0 0 16px 0;
  line-height: 24px;
  font-size: 14px;
}
.new-arrivals .new-arrivals-holder .flex-box .flex50 .product-info button {
  border: none;
  outline: none;
  line-height: 36px;
  width: 120px;
  border-radius: 26px;
  background: rgb(0, 0, 0);
  color: white;
  font-size: 16px;
  margin-bottom: 16px;
  font-family: "karla", sans-serif;
}
/* Category Wise */
.wrapper .category-wise {
  margin: 4% auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.wrapper .category-wise ul li {
  line-height: 26px;
  padding: 0 10px;
  font-size: 14px;
  text-align: center;
  font-weight: 600;
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border-radius: 6px;
  display: inline-table;
  margin: 8px;
}
.active {
  border: 2px solid black;
}
.wrapper .category-wise > div {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}
.wrapper .category-wise > div .slide_left {
  cursor: pointer;
  position: absolute;
  left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.877);
  color: rgb(255, 255, 255);
}
.wrapper .category-wise > div .slide_right {
  cursor: pointer;
  position: absolute;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.877);
  color: rgb(255, 255, 255);
}
.wrapper .category-wise > div .slide_left:hover,.wrapper .category-wise > div .slide_right:hover {
  background-color: black;
}
.wrapper .category-wise .product-holder {
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  scroll-behavior: smooth;
}
 /* Hide scrollbar for Chrome, Safari and Opera */
 .wrapper .category-wise .product-holder::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.wrapper .category-wise .product-holder {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
} 
.wrapper .category-wise .product-holder .item {
  margin: 8px;
  width: 250px;
  height: max-content;
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.wrapper .category-wise .product-holder .item img {
  width: 100%;
  height: 200px;
  object-fit: contain;
}
.wrapper .category-wise .product-holder .item label[for="pName"] {
  font-size: 12px;
  font-weight: 600;
  color: #000;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  -webkit-box-orient: vertical;
}
.wrapper .category-wise .product-holder .item label[for="category"] {
  margin: 6px 0;
  font-size: 12px;
  font-family: "Karla",sans-serif;
}
.wrapper .category-wise .product-holder .item label[for="pPrice"] {
  margin-bottom: 6px;
  line-height: 26px;
  padding: 0 10px;
  font-size: 14px;
  text-align: center;
  font-weight: 600;
  background: rgba(0, 84, 211, 0.288);
  color: rgb(0, 84, 211);
  border-radius: 6px;
  /* font-family: "karla", sans-serif; */
}
@media only screen and (max-width: 800px) {
  .new-arrivals .new-arrivals-holder .flex-box {
    margin: 8px;
  }
  .new-arrivals .new-arrivals-holder .flex-box:nth-child(n) {
    flex-direction: column;
  }
  .new-arrivals .new-arrivals-holder .flex-box .flex50 {
    width: 100%;
  }
  .new-arrivals .new-arrivals-holder .flex-box .flex50 .p_image img {
    height: 200px;
  }
  .new-arrivals
    .new-arrivals-holder
    .flex-box
    .flex50
    .product-info
    label[for="p_Name"] {
    font-size: 16px;
    line-height: 20px;
  }
  .new-arrivals
    .new-arrivals-holder
    .flex-box
    .flex50
    .product-info
    label[for="description"] {
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 16px; /* fallback */
    max-height: 48px; /* fallback */
    -webkit-line-clamp: 3; /* number of lines to show */
    -webkit-box-orient: vertical;
  }
}
@media only screen and (max-width: 600px) {
  .wrapper .design_layout {
    flex-direction: column;
    height: max-content;
    background-image: none;
  }
  .wrapper .design_layout > div {
    width: 100%;
  }
  .wrapper .design_layout .cntnt > div h3 {
    margin-top: 20px;
    font-size: 18px;
  }
  .wrapper .design_layout .cntnt > div p {
    font-size: 14px;
  }

  .wrapper .featured .featured-text h2 {
    font-size: 26px;
    line-height: 36px;
  }
  .wrapper .featured .featured-text button {
    width: 100px;
  }
}

