* {
  margin: 2px 0 0 0;
  padding: 0;
}

.product-page-holder {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.product-image-div{
  width: 45%;
}
.product-image-section {
  position: relative;
  margin: auto;
}
.product-image-parts {
  display: none;
}
.product-image-section .product-image-parts img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  font-weight: bold;
  font-size: 18px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 1;
  }
}

.product-page-details {
  width: 50%;
  padding: 15px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.product-page-details h2 {
  font-family: "Georama", sans-serif;
  line-height: 40px;
}
.product-page-details .product-price {
  font-family: "Montserrat", sans-serif;
  margin-top: 25px;
  margin-bottom: 5px;
}
.product-price h1,
.product-price h3 {
  font-weight: 400;
  display: inline;
}
.product-available-status h3 {
  font-family: "Georama", sans-serif;
  margin: 5px 5px 25px 5px;
}

.product-page-details ul,
.product-page-details table {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  margin: 15px;
  line-height: 25px;
  color: rgb(83, 83, 83);
}
.product-page-details ul li {
  margin-top: 8px;
}

.product-page-details table {
  width: 97%;
  padding: 5px;
  border-collapse: collapse;
  border: 1px solid #38678f;
  background: white;
}
.product-page-details table tr {
  border-bottom: 1px solid #cccccc;
}
.product-page-details table tr:last-child {
  border-bottom: 0px;
}
.product-page-details table tr td:first-child {
  min-width: 120px;
}
.product-page-details table tr th {
  padding: 10px;
  background: steelblue;
  font-weight: lighter;
  text-shadow: 0 1px 0 #38678f;
  color: white;
  border: 1px solid #38678f;
  box-shadow: inset 0px 1px 2px #568ebd;
  text-align: start;
}
.product-page-details table tr td {
  border-right: 1px solid #cccccc;
  padding: 10px;
}
.product-page-details table tr td:last-child {
  border-right: 0px;
}