* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
.slideshow-container {
  width: 100%;
  height: 50%;
  position: relative;
  margin: auto;
  background: #000;
}
.slide-parts {
  position: absolute;
  width: 100%;
  height: 100%;
  left: -100%;
  transition: 1s;
  transition-timing-function: ease-in-out;
}

.slideshow-container .slide-parts img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide-product-name {
  position: absolute;
  top: 30%;
  left: 10%;
  width: 0;
  overflow: visible;
  height: max-content;
  font-size: 30px;
  line-height: 46px;
  color: white;
  font-weight: 700;
  text-transform: capitalize;
}
.slide-product-name button:hover {
  background-color: rgb(236, 230, 230);
}
