* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
html,
body {
  height: 100%;
  scroll-behavior: smooth;
}
.wrapper {
  width: 100%;
  height: max-content;
}
.wrapper .container {
  margin: 16px;
}
.wrapper .container .thumbnail {
  position: fixed;
  left: 0;
  width: 50%;
  height: 500px;
}
.wrapper .container .thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.wrapper .container .thumbnail #thumbnail {
  display: none;
}
.wrapper .container .details-form {
  display: flex;
  flex-direction: column;
  margin-left: calc(100% - 50%);
}
.wrapper .container .details-form label[for="heading"] {
  font-family: "Karla", sans-serif;
  color: rgb(41, 108, 235);
  font-weight: 600;
  text-transform: uppercase;
}
.wrapper .container .details-form input[name="pname"] {
  outline: none;
  border: none;
  font-size: 34px;
  line-height: 56px;
  font-family: "Karla", sans-serif;
}
.wrapper .container .details-form .pricing input[name="price"] {
  outline: none;
  border: none;
  background: rgba(0, 84, 211, 0.288);
  text-align: center;
  width: 120px;
  color: rgb(0, 84, 211);
  border-radius: 26px;
  font-size: 18px;
  line-height: 36px;
  margin: 16px 0 16px 0;
  font-weight: 600;
}
/* For Firefox */
.wrapper .container .details-form .pricing input[name="price"]::placeholder{
  opacity: 1;
}
/* For Edge, Chrome */
.wrapper .container .details-form .pricing input[name="price"]::-webkit-input-placeholder{
  color: rgb(0, 84, 211);
  opacity: 1;
}
/* For Internet Explorer */
.wrapper .container .details-form .pricing input[name="price"]:-ms-input-placeholder{
  color: rgb(0, 84, 211);
  opacity: 1;
}
.wrapper .container .details-form .pricing input[name="discount"] {
  outline: none;
  border: none;
  width: 80px;
  font-weight: bold;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 18px;
}
/* For Firefox */
.wrapper .container .details-form .pricing input[name="discount"]::placeholder {
  opacity: 1;
}
/* For Edge, Chrome */
.wrapper .container .details-form .pricing input[name="discount"]::-webkit-input-placeholder{
  color: rgb(0, 0, 0);
  opacity: 1;
}
/* For Internet Explorer */
.wrapper .container .details-form .pricing input[name="discount"]:-ms-input-placeholder{
  color: rgb(0, 0, 0);
  opacity: 1;
}

.wrapper .container .details-form .pricing input[name="Orginal_price"] {
  outline: none;
  border: none;
  text-decoration: line-through;
  font-weight: 600;
  font-size: 16px;
}
/* For Firefox */
.wrapper .container .details-form .pricing input[name="Orginal_price"]::placeholder {
  opacity: 1;
}
/* For Edge, Chrome */
.wrapper .container .details-form .pricing input[name="Orginal_price"]::-webkit-input-placeholder{
  color: rgb(0, 0, 0);
  opacity: 1;
}
/* For Internet Explorer */
.wrapper .container .details-form .pricing input[name="Orginal_price"]:-ms-input-placeholder{
  color: rgb(0, 0, 0);
  opacity: 1;
}

.wrapper .container .details-form .pricing input[name="saved"] {
  outline: none;
  border: none;
  margin-bottom: 8px;
  margin-top: 8px;
  font-weight: 600;
  font-size: 14px;
}
/* For Firefox */
.wrapper .container .details-form .pricing input[name="saved"]::placeholder {
  opacity: 1;
}
/* For Edge, Chrome */
.wrapper .container .details-form .pricing input[name="saved"]::-webkit-input-placeholder{
  color: rgb(0, 0, 0);
  opacity: 1;
}
/* For Internet Explorer */
.wrapper .container .details-form .pricing input[name="saved"]:-ms-input-placeholder{
  color: rgb(0, 0, 0);
  opacity: 1;
}
.wrapper .container .details-form textarea[name="description"] {
  outline: none;
  border: none;
  font-size: 14px;
  line-height: 24px;
}
.wrapper .container .details-form .color {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.wrapper .container .details-form .color .color-select {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  overflow: hidden;
  margin: 16px;
}
.wrapper
  .container
  .details-form
  .color
  .color-select
  input[name="color-select"] {
  border: 0;
  padding: 0;
  width: 200%;
  height: 200%;
  cursor: pointer;
  transform: translate(-25%, -25%);
}
